header{
    @extend .container-fluid;
    @extend .fixed-top;
    et-header {
        @extend .clearfix;
        @extend .row;
        display: block;
        > div{
           @extend .col-12;
        }
    }
    h1{
        float: left;
    }
    nav{
        float: right;
        ul{
           @extend .nav;
           li{
               @extend .nav-item;
               a{
                   @extend .nav-link;
               }
           }
        }
    }
}
