<div>
    <h1>
        {{title}}
    </h1>
    <nav aria-label="main navigation">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/specials">Specials</a></li>
            <li><a routerLink="/locations">Locations</a></li>
            <li><a routerLink="/lil-sprouts">Lil' Sprouts</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</div>
