@import '../../sass/partials/eandtvariables';

footer {
  section {
    &:first-child {
      @extend .container;
    }
    &:last-child {
      @extend .container-fluid;
    }
  }
  background-color: #262c37;
  bottom: 0;
  color: $white;
  font-size: 1.2rem;
  left: 0;
  position: absolute;
  right: 0;
  h2 {
    font-size: 3.1rem;
    margin: 1.5rem 0 2rem;
  }
  a {
    color: $white;
    font: 1.2rem 'OpenSansSemibold';
    text-decoration: underline;
    &:focus, &:hover {
      text-decoration: none;
    }
    &[href^="tel:"] {
      text-decoration: none;
    }
    > span {
      @extend .sr-only;
    }
  }
  nav {
    margin-top: 1.5rem;

  }
  .below-footer {
    background-color: #1b222c;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    p {
      margin: 0;
    }
  }
}
