@import '../../sass/partials/eandtvariables';

footer {
  @extend .container-fluid;
  background-color: $green;
  bottom: 0;
  color: $white;
  left: 0;
  @include rem(margin-top, 35px);
  @include rem(padding-top, 15px);
  position: absolute;
  right: 0;
  et-footer {
    @extend .clearfix;
    @extend .row;
    display: block;
    > * {
      @extend .clearfix;
      @include make-col(12);
      @include rem(padding-left, 15px);
      @include rem(padding-right, 15px);
    }
    > div{
      ul, p{
        @extend .text-right;
      }
    }
    >section{
      @extend .pb-3;
      @extend .pt-3;
      @extend .text-center;
      @include rem(font-size, 14px);
      background-color: #2f3e47;
      color: $white;
    }
  }
  h2 {
    float: left;
    font-family: 'ProximaNovaSemibold';
    @include rem(font-size, 26px);
    small {
      display: block;
      font-family: 'ProximaNovaLight';
      @include rem(font-size, 22px);
    }
  }
  .hours {
    margin-bottom: 0;
  }
  .right-info {
    float: right;
    tex-align: right;
    @include rem(font-size, 13px);
    ul {
      @extend .list-inline;
      li {
        @extend .list-inline-item;
      }
    }
    p {
      span {
        display: block;
      }
    }
  }
  a {
    color: $white;
    &:focus, &:hover {
      color: $yellow;
    }
    &[href^='tel:'] {
      text-decoration: none;
      &:focus, &:hover {
        color: $white;
      }
    }
    &[href^='mailto:'] {
      text-decoration: underline;

    }
    &.fa {
      &:focus, &:hover {
        text-decoration: none;
      }
    }
  }
}
