<section>
  <div class="row">
    <div class="col-lg-6">
      <h2>Eltzroth &amp; Thompson Greenhouses</h2>
    </div>
    <div class="col-lg-6 d-none d-lg-flex">
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href=""><span>Eltzroth and Thompson Greenhouses</span> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">About<span> Eltzroth and Thompson Greenhouses</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Lil&rsquo; Sprouts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Specials<span> at Eltzroth and Thompson Greenhouses</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contact<span> Eltzroth and Thompson Greenhouses</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-6">
      <p>Monday-Saturday 8:30-5<br>
        Sunday 10-5
      </p>
      <p>
        <a href="tel:434-295-2488">(434) 295-2488</a><br>
        <a href="mailto:info@eandtgreenhouses.com">info@eandtgreenhouses.com</a>
      </p>
      <p>
        1686 Monacan Trail (Rt. 29S)<br>
        Charlottesville‚ Virginia 22903
      </p>
    </div>
  </div>
</section>
<section>
  <div class="below-footer row d-flex justify-content-center">
    <p>&copy;2019 Eltzroth and Thompson Greenhouses</p>
  </div>
</section>
