<div>
    <h2>Eltzroth &amp; Thompson <small>Greenhouses</small></h2>
    <div class="right-info">
        <ul>
            <li><a href="" class="fa fa-facebook-official fa-3x" title="Like E&T Greenhouses on Facebook"><span class="sr-only">Like Eltzroth & Thompson Greenhouses on Facebook</span></a></li>
          <li><a href="http://instagram.com/eandtgreenhouses" target="_blank" class="fa fa-instagram fa-3x" title="Follow E&T Greenhouses on Instagram"><span class="sr-only">Follow Eltzroth & Thompson Greenhouses on Instagram</span></a></li>
        </ul>
        <p><a href="tel:434-295-2488">(434) 295-2488</a></p>
        <p>
            <span>1686 Monacan Trail (Rt. 29S)</span>
            <span>Charlottesville‚ Virginia 22903</span>
        </p>
        <p><a href="mailto:info@eandtgreenhouses.com" title="send E&T an email">info@eandtgreenhouses.com</a></p>
    </div>
  <p class="hours" [innerHTML]="hours"></p>
</div>

