<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>About Us</h1>
            <h2> We are here for you‚ even on Sunday.</h2>

            <h3>At Eltzroth & Thompson‚ we focus on three things:</h3>
            <p>Our customers‚ our plants‚ and our staff. Following his graduation from the University of Maryland with a doctorate in horticulture‚ Dan Eltzroth‚ along with Carol Eltzroth‚ desired to start a greenhouse where growing quality plants was paramount. Over 40 years later‚ Eltzroth & Thompson encompasses 2 sites‚ 5 "growing" acres‚ and 11 warmed greenhouses‚ and they continue to provide first rate customer service as well as quality plants. Today‚ their son‚ Jay‚ manages the day to day operations to ensure the highest standards are met.</p>
        </div>
    </div>
</div>