<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Lil&rsquo; Sprouts</h1>
            <h2>Vegetable Gardens for Kids</h2>
      <p>
        The best vegetable gardens for kids provide healthy snacks while kids are on the go‚ as well as opportunities to learn about how food grows. Think of it as a healthy and ever-fresh lunchbox planted within the kids’ play space.
      </p>
      <p>
        The kids vegetable garden is all theirs to experiment with and develop gardening skills that will be useful for life. While they care for their plants they learn about the food cycle‚ the workings of nature and how to care for the Earth.
      </p>
      <h3>
        Put the kids vegetable garden where they can reach it.
      </h3>
      <p>
        The ideal position for the kids’ vegetable garden is in their play area. That’s their space‚ and helps them recognise the veggie patch as theirs. Having the vegetable garden in their playspace also means they can snack on what’s growing‚ fresh and direct from the garden.
      </p>
      <p>
        Your kids will be able to conveniently work on their garden‚ make observations about what’s growing well and what needs some help and take care of watering and weeding as an extension of their play activities.
      </p>
      <p>
        Unless you have to protect the kids’ vegetable patch from wildlife or pets‚ leave it unfenced so kids can get to it easily. If you need to use a fence‚ try to install a gate that the kids can manage to open by themselves.
      </p>
      <h3>
        Vegetable gardens for kids must be accessible.
      </h3>
      <p>
        Try to position the kids vegetable garden so that they can access it from all sides. Don’t make the garden bed too wide‚ remember that little arms should be able to reach the center of the vegetable patch from each of the edges. Of course you can make the bed longer‚ but try to keep it less than 1.2m-1.5m wide. Otherwise it will be tempting for kids to walk into the vegetable patch and compress the soil.
      </p>
      <p>
        Using a raised garden bed or an old bathtub planter lifts the height of the vegetable bed. This makes it easier for children to reach into the garden to work on or harvest their veggies. A raised vegetable patch has the added advantages of being more clearly defined (and easier to keep tidy) and better protected from other play activities.
      </p>
      <h3>
        Vegetable gardens for kids teach ownership and responsibility.
      </h3>
      <p>
        Give the kids ownership and responsibility for their vegetable garden. The kids should help select which vegetables are grown‚ even if you encourage them to select varieties that can be picked continuously and don’t have poisonous leaves.
      </p>
      <p>
        Allow the children to pick ripe vegetables freely‚ as long as they actually eat them and don’t waste them. Ask permission before you raid the kids’ vegetable patch for the family dinner – they will probably feel proud to contribute‚ but checking with them first demonstrates that you respect the efforts they’re making in their veggie patch.
      </p>
      <p>
        As they’re also responsible for the vegetable patch‚ teach kids to watch for changes in the plants so they can attend to their needs. Even younger children can be encouraged to watch for wilting leaves that show a plant needs water and check for ripe vegetables and fruit that are ready to harvest before the birds get to them.
      </p>
      <p>
        A note about picking for pets – I believe this encourages a sharing‚ caring attitude and I’m all for it. Kids can pick and share lettuce and silverbeet leaves with pets such as rabbits and guinea pigs. The idea of planting a few extra plants for the birds‚ slugs and bugs is also healthy. Even if you think it’s a waste of fresh veggies‚ let the kids decide.
      </p>
      <h3>
        Vegetable gardens for kids: Planting selections.
      </h3>
      <p>
        The kids’ vegetable garden should comprise varieties that provide easy and safe picking. Options include lettuces‚ silverbeet‚ snowpeas‚ strawberries‚ beans‚ sugarsnap peas‚ carrots‚ blueberries‚ cucumbers and melons. You could also include kid-friendly herbs like mint‚ lemonbalm and catnip. Nasturtiums and marigolds have bright flowers that can be eaten and will also deter pests from the vegetable garden.
      </p>
      <p>
        If you have older children who can be warned about avoiding eating the poisonous leaves of the nightshade family of plants‚ cherry tomatoes are also a winner‚ especially picked warm and juicy towards the end of Summer.
      </p>
      <p>
        Part of the fun of vegetable gardening with children is discovering different vegetables you can grow and taste‚ and working out what grows well in your climate.
      </p>
      <p>
        It’s a good idea to mix a few old favourites in with experimental plantings. There are numerous heirloom varieties that can add interest to the vegetable garden. So when you think of planting lettuce and you think of supermarket iceberg‚ you could also be planting nutty and leafy Great Oaks or red and spicy Flame. Instead of green beans you can plant purple or yellow ones.
      </p>
      <h3>
        Gardening activities for kids: What jobs can kids really do?
      </h3>
      <p>
        Feeling sceptical about how hands-on your kids can really be in the garden? Look at it this way‚ the sooner they start to learn the earlier they’ll be able to work independently.
      </p>
      <p>
        Want capable kids? Work alongside them as they develop the knowledge and skills to do the following gardening activities for kids. Basically‚ if you help them early‚ as soon as they attain the ability level necessary to practice what you’ve taught them without your support‚ they will.
      </p>
      <ul>
        <li>Planning (selecting varieties‚ working out best planting position‚ deciding on numbers of plants to be planted‚ drawing up garden plans and labelling diagrams)</li>
        <li>Weeding (identifying and removing weeds‚ thinning out plants)</li>
        <li> Pest Management (spotting bugs and slugs‚ identifying invader vs predator insects‚ picking invader insects off plants‚ spraying with organic sprays when necessary‚ catching caterpillars for their bug collectors)</li>
        <li>Watering (following a watering schedule‚ checking when plants need extra water in hot weather)</li>
        <li>Harvesting (observing ripening of plants‚ picking‚ eating and sharing produce)</li>
      </ul>
      <p>
        Don’t underestimate your kids either. Toddlers can share most of the above tasks in some way or another. Even if their ’plans’ look like scribble and their ’weeding’ can be somewhat ad-hoc‚ they are learning and feeling valued. (Their watering skills are extremely well developed!)
      </p>
      <p>
        Try to restrain yourself from doing the work for them. You might find it difficult to ignore obvious problems but once you’ve brought issues to your kids’ attention‚ leave action to them.
      </p>
      <p>
        One key reason to encourage vegetable gardening for kids is that your children will learn about the consequences of their care or lack of care for their plants. Better they learn through the vegetable patch than the ancient growth forests!
      </p>
      <p>
        Always remember too that they are going to love this time with you‚ and learning alongside you. Don’t rush tasks‚ give yourselves plenty of time to be zen about gardening processes and feel the love.
      </p>
      <h3>
        Use kid-friendly gardening tools.
      </h3>
      <p>
        Kids are able to use trowels and forks that have been designed for adults‚ but smaller handles and spades are easier for them to grip and wield. Kids gardening tools are usually brightly colored with cheerful patterns or smiley faces on them. With their own distinct tools‚ kids can also become responsible for cleaning and properly putting them away.
      </p>
      <h3>
        Why build vegetable gardens for kids?
      </h3>
      <p>
        So‚ apart from survival skills‚ healthy play snacks and planet-nurturing attitudes‚ what are your kids going to get out of all this? Dedicated vegetable gardens for kids enable a wonderful sensory experience within a safe and playful environment. Think about building up a raised garden bed in your back yard‚ and making it the kids vegetable garden. They’ll love it.
      </p>
      <p>
        ~ <em>From <a href="http://www.Growingraw.com" target="_blank">Growingraw.com</a></em>
      </p>
    </div>
    </div>
</div>