<md-dialog-content>
    <object width="735" height="400">
        <param name="movie"
               value="http://api.everyscape.com/v/1/x/viewer/everyscape_viewer.swf?xml=http://api.everyscape.com/panoviewerparams/1.x/static/775/400/vs/16251334">
        <param name="allowFullScreen" value="true">
        <param name="allowscriptaccess" value="always">
        <embed src="http://api.everyscape.com/v/1/x/viewer/everyscape_viewer.swf?xml=http://api.everyscape.com/panoviewerparams/1.x/static/775/400/vs/16251334"
               type="application/x-shockwave-flash"
               allowscriptaccess="always"
               allowfullscreen="true" width="775" height="400">
    </object>
</md-dialog-content>