<div class="page-header">
  <div>
    <div>
      <h1><span class="sr-only">Eltzroth &amp; Thompson Greenhouses </span>Locations</h1>
    </div>
  </div>
</div>
<div>
  <div>
    <div class="locations">
      <p>Let us show you the way.Located south on route 29 just outside of Charlottesville, we are here for you to help
        you with all of your gardening needs. Come see us today. Get door to door driving directions.</p>
    </div>
    <div class="map">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" [zoomControl]="true"
               [scrollwheel]="true"
               [mapDraggable]="true">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
