
$et-blue-dark: #2C363F;
$gray-blue: #6D8EA0;
$et-green-bright: #8CD790;

$faint-white: #f7f7f7;
$white: #fff;


$default-text-size: 16px;

$font-light: 300;
$font-normal: normal;
$font-bold: 700;

$default-text-color: $et-blue-dark;
