
$et-blue-dark: #2C363F;
$gray-blue: #6D8EA0;
$blue-bright: #016FB9;
$et-green-bright: #8CD790;
$gray-10: #ececec;
$gray-dark: #333;
$faint-white: #f7f7f7;
$white: #fff;

$yellow: #D4C685;


$default-text-size: 16px;

$font-light: 300;
$font-normal: normal;
$font-bold: 700;

$default-text-color: $et-blue-dark;
