<div class="page-header container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Products &amp; Services</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome to Eltzroth and Thompson, a family owned greenhouse.</h2>
            <p>We understand customers—everyone from novice green thumbs to expert gardeners—and we try to anticipate everything you may need to grow a beautiful garden. If we don't have what you are looking for, we may be able to order it! Come by, say hi, check out the wide array of inventory, or just share a tip you discovered while creating your own garden. While we're always available to answer any question you may have, we're always willing to listen to new ideas, too!</p>
            <h3><em>We have you covered from everyday plants to that special order.</em> </h3>
            <h2>Our Services</h2>
            <h3>Planning a wedding or other important event?</h3>
            <p>Frequently, flowers can enhance the setting or atmosphere of a special gathering. Eltzroth & Thompson has designed and created many gardens, planters, and other arrangements throughout the years for formal events, informal gatherings, and everything in between. Give us a call to discuss your indoor or outdoor celebration. Our team of experts can make your ideas come to life, or they can design arrangements from scratch. Further, our team can provide suggestions to stay within a budget, like using rental items the greenhouse can provide.</p>
            <h3>Planning a new garden?</h3>
            <p>On a limited basis, Eltzroth and Thompson can offer landscape design for homeowners. Give us a call to hear details.</p>
            <h3>Gift Cards</h3>
            <p>Are you searching for the perfect gift for a green thumb? E & T now offers gift cards. Get your gift card today by simply calling and letting one of our sales associates assist you. Gift cards can be made for any amount.</p>
        </div>
    </div>
</div>
