/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import 'sass/partials/_eandtvariables';
@import 'sass/mixins/_etMixins';
@import 'sass/_proxima';

@import '~@angular/material/_theming';
@include mat-core();
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import 'app/header/_header.component';
@import 'app/footer/_footer.component';


/*** views ***/
@import 'app/about/_about.component';
@import 'app/contact/_contact.component';
@import 'app/home/_home.component';
@import 'app/locations/_locations.component';
@import 'app/products/_products.component';
@import 'app/specials/_specials.component';
@import 'app/sprouts/_sprouts.component';
@import 'sass/partials/_global';
@import 'sass/partials/_headings';


.cdk-overlay-container{
  [role='dialog']{
    padding: 0 25px;
  }
  .mat-dialog-content{
    background-color: $white;
    padding: 24px;
  }
}
