/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'app/_eandtvariables';
@import 'sass/mixins/_etMixins';
@import 'sass/_proxima';

@import 'app/header/_header.component';
@import 'app/footer/_footer.component';


/*** views ***/
@import 'app/about/_about.component';
@import 'app/contact/_contact.component';
@import 'app/home/_home.component';
@import 'app/locations/_locations.component';
@import 'app/products/_products.component';
@import 'app/specials/_specials.component';
@import 'app/sprouts/_sprouts.component';


html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-family: 'ProximaNovaRegular';
    @include rem(font-size, 16px);
    min-height: 100%;
    main{
        @include rem(margin-top, 30px);
    }
}
