.hero {
  @extend %row;
  /*    height: 400px;
      background: gray;*/
  .carousel {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.lead {
  @extend %row;
  background-color: lighten($et-green-bright , 18%);
  font-family: 'ProximaNovaSemiBold';
  @include rem(font-size, 18px);
  @include rem(padding-bottom, 120px);
  @include rem(padding-top, 120px);
  > div {
    @extend .col-sm-8;
    @extend .push-md-2;
    @extend .text-center;
  }
  p {
    &.h1 {
      font-family: 'ProximaNovaLight';
      @include rem(font-size, 40px);
    }
  }
}

.home-tips {
  @extend %row;
  border-top: 1px solid $gray-10;
  @include rem(padding-bottom, 50px);
  @include rem(padding-top, 50px);
  > div {
    &:first-child {
      @extend .col-sm-4;
      font-family: 'ProximaNovaLight';
      @include rem(font-size, 40px);
      line-height: 1;
      text-align: right;
    }
    &:last-child {
      @extend .col-sm-6;
      text-align: justify;
    }
  }
}

.video-tour {
  @extend .text-center;
  @extend %row;
  background-color: $et-green-bright;
  box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
  @include rem(margin-bottom, 75px);
  @include rem(padding-bottom, 45px);
  @include rem(padding-top, 45px);
  h2 {
    font-family: 'ProximaNovaLight';
    @include rem(font-size, 40px);
    margin: 0 auto 40px;
    width: 800px;
  }
  > div {
    margin: 0 auto;
    width: 600px;
    clear: both;
  }
}
