<div class="container-fluid">
    <div class="hero">
        <img src="./assets/jay-questions.jpg" class="img-fluid">
        <h1>
            home view
        </h1>
    </div>
    <div class="lead">
        <div>
            <p class="h1">Charlottesville's Only Family Owned Greenhouse</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Morbi facilisis vitae lorem quis efficitur. </p>
        </div>
    </div>
    <div class="home-tips">
        <div>
            <p>Gardening Tip</p>

        </div>
        <div>
            <p>Spring’s an important season for the home vegie patch. It’s time for sowing or planting all the warm season vegies such as beans, tomatoes, sweet corn, capsicum and eggplants. After the soil has lost its chill, sow seeds of members of the cucurbit family. This group includes pumpkins, zucchinis, squash, cucumbers and melons. Basil is the major herb for spring sowing and planting but others such as dill, thyme and rocket will also take off in the spring weather. And it’s a good time to plant coriander which is best started from seed as it doesn’t like being transplanted. In early spring you can sow coriander into a full sun position but, as summer gets closer, it prefers to go into a semi-shaded spot.</p>
        </div>
    </div>
    <div class="video-tour">
        <h2>Take a Tour</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="..."></iframe>
        </div>
    </div>
</div>