html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'ProximaNovaRegular';
  @include rem(font-size, 16px);
  min-height: 100%;
  main {
    @include rem(margin-top, 60px);
    @include rem(min-height, 550px);
  }
}

.page-header {
  @extend .container-fluid;
  background-color: darken($et-green-bright, 20%);
  box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
  @include rem(margin-bottom, 50px);
  @include rem(padding, 50px 15px 40px);

  > div {
    @extend .row;
    > div {
      @extend .col-sm-12;
      h1 {
        color: $white;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }
  }
  + div {
    @extend .container-fluid;
    > div {
      @extend .row;
      > div {
        @extend .col-sm-10;
        @extend .offset-sm-1;
        &.locations {
          @extend .col-sm-3;
        }
        &.map {
          @extend .col-sm-7;
        }
      }
    }
  }
}
