h1{
  font-family: 'merriweatherbold';
  @include rem(font-size, 48px);
}
h2{
  font-family: 'merriweatherbold';
  @include rem(font-size, 40px);
}
h3{
  font-family: 'merriweatherbold';
  @include rem(font-size, 22px);
}
h4{
  font-family: 'merriweatherbold';
  @include rem(font-size, 18px);
}
h5{
  font-family: 'merriweatherbold';
  @include rem(font-size, 16px);
}
h6{
  font-family: 'merriweatherbold';
  @include rem(font-size, 14px);
}
